.navbar {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: $color-white;
  padding: 20px 30px;
  align-items: center;
  border-bottom: 2px solid hsla(0, 0%, 52.2%, 0.1);

  &__left-side {
    &__logo {
      &__text {
        font-size: 18px;
        @media screen and (max-width: 900px) {
          font-size: 15px;
        }
      }
    }
  }
}
